// resets
@import './resets';
@import './variable';

@function weight ($weight-name){
    @return map-get($font-weights, $weight-name)
}

@mixin  flexCenter ($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

body {
    background: $primary-color;
    color: $text-color;
}
.main {
    width: 80%;
    margin: 0 auto;
    @include flexCenter(row);

    #{&}_paragaraph{
        font-weight: weight(bold);
        &:hover {
            color: gree;
        }
    }
}
