$primary-color: #2227;
$accent-color: #ff652f;
$text-color: #fff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

body {
    background: $primary-color;
    color: $text-color;
}
.main {
    width: 80%;
    margin: 0 auto;

    #{&}_paragaraph{
        font-weight: map-get($font-weights, bold);
        &:hover {
            color: gree;
        }
    }
}
