@import 'config';
.menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    height: 20px;
    width:  28px;
    cursor:  pointer;
    @include transition-ease;

    &_burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: set-text-color;
    }
}